.MyNotificationsItem h2 {
  font-family: "Open Sans", sans-serif;

  font-size: 18px;

  font-weight: 600;

  font-stretch: normal;

  font-style: normal;

  line-height: 1;

  letter-spacing: normal;

  color: #525252;
}

.MyNotificationsItem p {
  font-family: "Open Sans", sans-serif;

  font-size: 18px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1;

  letter-spacing: normal;

  color: #525252;
}
