.RestaurantsSection {
  background-color: #fafafa;
}

.RestaurantsSection .media {
  background-color: white;
  border-radius: 20px;
  border: solid 1px #cccccc;
}

.RestaurantsSection .media p {
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;

  font-size: 16px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.25;

  letter-spacing: normal;

  text-align: left;

  color: #2e2e2e;
}

.RestaurantsSection h2 {
  font-family: 'Prata', serif;

  font-size: 45px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.33;

  letter-spacing: normal;

  color: #404040;
}
.media {
  position: relative;
}

.fav-btn,
.fav-btn:hover {
  border: none;
  background-color: transparent;
  color: #d1d1d1;
  /* position: absolute;
  top: 5px;
  right: 5px; */
  padding: 0;
  width: fit-content;
  height: fit-content;
}

.RestaurantsSection h2 span {
  color: #f8901a;
}
.show-More-btn {
  border-radius: 24px;

  background-color: #82c349;
  border: none;
  width: 134px;

  height: 47px;
}

.show-More-btn:hover {
  border-radius: 24px;

  background-color: #82c349;
  border: none;
  width: 134px;

  height: 47px;
}
