.ViewRetaurant .page-item .page-link {
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  color: black;
  padding: 0.75rem;
}

.ViewRetaurant .pagination {
  justify-content: center;
}

.ViewRetaurant .page-item:first-child .page-link,
.ViewRetaurant .page-item:last-child .page-link {
  border: solid 1px #94c748;
}

.ViewRetaurant .page-item.active .page-link {
  color: white;
  background-color: #94c748;
}
